/* ------------GENERAL--------- */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: black;
    text-decoration: none;
    list-style: none;
}

.image-fondo {
    background: url(/imagenes/fondo3.jpg);
}


/* -------------NAVBAR------------- */

/* ----ICONOS REDES SUPERIOR--- */

.header {
    background-color: #0788e4;
    box-shadow: 1px 1px 5px 1px black;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.logo {
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
}

.nav-logo img {
    height: 70px;
}

.main-navbar {
    width: 100%;
    height: 100%;
    position: sticky;
    background-color: #0788e4;
    overflow: hidden;
}

.menu li {
    list-style: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-item {
    display: block;
    position: relative;
    padding: 30px;
    color: white;
}

.nav-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.main-navbar {
    max-height: 0;
    transition: all .5s ease-out;
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 2rem 1rem;
}

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}


/* OCULTA CHECKBOX */

.side-menu {
    display: none;
}


/* ACTIVAR MENU */

.side-menu:checked~nav {
    max-height: 100vh;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}


/* --------INICIO-------- */

h1{
    margin: 1rem;
}

/* -----REDES FLOTANTE---- */
 
.contacto-logo{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100000;
  }
  .contacto-logo a img{
    height: 75px;
    width: 75px;
  }

/* --------CARTAS-------- */

.titulos-inicio{
    margin-top: 50px;
    margin-left: 50px;
}


.card-container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: fit-content;
}

.content-carta {
    display: flex;
    align-items: center;
}

.card {
    transition: transform .2s, box-shadow .2s;
}

.card:hover {
    border: none;
    transform: translate(0, -5px);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
}


/* --------PAGINAS------ */

.asignatura-title{
    margin: 1rem;
    font-weight: bold;
    text-align: center;
}

.main {
    display: flex;
    min-height: 100vh;
    text-align: center;
}

.texto-no-pdf {
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.btn-descargar {
    padding: 20px;
    color: white;
    background-color: green;
    border-radius: 10px;
}


/* -----------PRUEBA--------- */

.asignatura {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.main-asignatura {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    margin: 1rem;
}

.main-asignatura p {
    font-size: 1.5rem;
    margin: 1rem;
}

.card-pdf {
    background-color: white;
    margin: .5rem;
}

.card-pdf img {
    width: 12rem;
}

/* --------FOOTER--------- */

.contactanos {
    background-color: #0788e4;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactanos h2 {
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.icon-button {
    background-color: #111111;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}

.icon-button:nth-child(2) {
    margin-right: 2rem;
    margin-left: 2rem;
}

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

.icon-button .icon-facebook {
    color: #3B5998;
}

.icon-button:hover .icon-facebook {
    color: white;
}

.facebook span {
    background-color: #3B5998;
}

.instagram span {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.email span {
    background: #EB2222;
}


/* ---------MEDIA QUERIES----------- */

@media (min-width: 1200px) {
    .main-asignatura {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 2rem;
        column-gap: 4rem;
    }
    .asignatura {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 1rem;
    }
}

@media (min-width: 768px) {
    /* --------NAVBAR------- */
    .header {
        position: inherit;
    }
    .main-navbar {
        max-height: none;
        float: right;
        width: fit-content;
    }
    .menu li {
        float: left;
    }
    .menu a {
        margin: 25px 30px 0 0;
        padding: 0;
    }
    .nav-item:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    .hamb {
        display: none;
    }
    /* -----INICIO---- */
    .principal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

@media (max-width: 465px) {
    .main-asignatura {
        grid-template-columns: repeat(1, 1fr);
    }
    /* -----FOOTER---- */
    .contactanos {
        flex-direction: column;
        align-items: center;
    }
    .iconos {
        flex-direction: column;
    }
    .icon-button {
        margin: 1rem;
    }
}


/* -----BOTON VER MAS---- */

.container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #000000;
}

p {
    font-size: 1.2em;
}

.readMore_btn {
    background-color: #1a7ebd;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 15px 32px;
    font-size: 1.2em;
    box-shadow: 0px 0px 10px 0px #000000;
    cursor: pointer;
}

.readMore_btn:hover {
    box-shadow: none;
    background-color: black;
    color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
}

.hideText {
    display: none;
}

.showText {
    display: block;
}